@import './variables.sass'


.wrapper
    width: 1200px
    margin: 0 auto
    .content
        width: 100%
        margin-top: 100px
        .button-swap
            margin-top: 20px
        .card-list
            width: 100%
            display: flex
            flex-wrap: wrap
            &-item
                display: flex
                width: 25%
                justify-content: center