@import './variables.sass'

.wrapper
    width: 1200px
    margin: 0 auto
.header
    background: $camel
    margin-bottom: 20px
    .content
        display: flex
        height: 100px
        justify-content: space-between        
        .logo
            display: flex
            align-self: center
            flex-direction: column
            &-link
                text-decoration: none
                color: $slate-gray
                font-size: 46px
                font-weight: bold
            &-store                
                color: $slate-gray
                font-size: 20px
        .cart
            width: 100px
            height: 100px
            display: flex
            position: relative
            background: url('./assets/images/cart2.png') no-repeat center center/80%

.main  
    .content
        width: 100%
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        justify-content: space-between
        .sort-area
            width: 35%
        .search-area
            width: 60%
            margin-bottom: 20px
        .filter-area
            width: 20%
            background: #ebebeb        
        .card-list
            width: 80%
            display: flex
            flex-wrap: wrap
            &-item
                display: flex
                width: 25%
                justify-content: center

.footer
    background: $camel    
    .content
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 30px
        min-height: 140px
        .github
            a
                display: inline-block
                width: 150px
                height: 90px
                background: url('./assets/images/github.png') no-repeat center center/50%
        .RS-logo
            a
                display: flex
                width: 150px
                height: 80px
                background: url('./assets/images/rs_school_js.svg') no-repeat top 30% center/70%
                align-items: flex-end
                justify-content: center
                color: black
                font-weight: 900
                text-decoration: none
                font-size: 24px
                font-family: 'Montserrat'