$slate-gray: #27333a
$middle-grey: #96897bff
$medium-champagne: #dfd5a5ff
$earth-yellow: #dbad6aff
$camel: #cf995fff
$searchFocus: #1a1a1a

$max: 1220px
$min: 980px

$fontOfName: 'Montserrat'
$mainCardFont: 'Georgia'
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Roboto:wght@300&display=swap')
$filterNames: 'Roboto', sans-serif
