.noUi-horizontal
    height: 10px
.noUi-horizontal .noUi-handle
    top: -11px
.noUi-connect
    background: #cf995f
.noUi-target
    width: 80%
    margin: 0 auto
    margin-top: 20px
.values-box
    display: flex
    justify-content: space-around
    .value
        padding: 10px 10px
        border: 1px solid black
        margin-top: 10px