@import '../../../variables.sass'
.search-area
    display: flex
    justify-content: flex-end 
    border-radius: 10px
    width: 100%
    position: relative    
    margin-right: 22px  
    .search-input
        width: 13%
        padding: 15px 40px 15px 10px 
        box-shadow: 0 0 0 1px grey
        border: none
        border-radius: 10px
        transition: .3s
        &:focus
            width: 60%
            outline: none
            box-shadow: 0 0 0 2px $searchFocus
    .search-icon
        position: absolute 
        width: 14px
        height: 14px
        top: 12px
        right: 12px
        border: 2px solid grey 
        border-radius: 100px
        transition: .15s
        &:focus + .search-input
            width: 60%    
        &::after 
            content: ''
            position: absolute
            width: 12px
            height: 2px
            background: grey
            transform: rotateZ(-60deg) 
            top: 10px
            right: 8px
            transform-origin: right
            transition: .2s        
        &::before
            content: ''
            position: absolute
            width: 0px
            height: 2px
            background: grey
            top: 10px
            right: 9px
            transform-origin: right
            transition: .2s
        &.close 
            width: 24px
            height: 24px
            top: 12px
            right: 12px
            border: 2px solid grey 
            cursor: pointer        
            &::after  
                content: ''
                position: absolute
                width: 12px
                height: 2px
                background: grey
                top: 50%
                right: 50%
                transform: translate(50%, -50%) rotateZ(-45deg)
                transform-origin: center
            &::before
                content: ''
                position: absolute
                width: 12px
                height: 2px
                background: grey
                top: 50%
                right: 50%
                transform: translate(50%, -50%) rotateZ(45deg)
                transform-origin: center
        
